@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-name#search-box {
  margin-top: 100px;
  width: 400px;
  font-weight: bold;
  font-size: 1.3rem;
}

.country-list,
.country-info__list {
  width: 400px;
  list-style: none;
  padding: 0;
}

.country-list__item,
.country-info__wrap {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  width: 400px;
}

.country-list__img,
.country-info__img {
  width: 30px;
  height: 20px;
}

.country-list__text {
  margin: 5px;
}

.country-info__header {
  font-size: 1.5rem;
  margin: 0;
}

.country-info__list {
  font-size: 1.1rem;
}

.country-info__param {
  font-weight: bold;
  margin-right: 10px;
}
